.call-back {
    padding: 0 0 100px;

    .title {
        font-size: 1.18rem;
        margin-bottom: 62px;
    }
}

/*Брейкпоинт 1024px*/

@media screen and (max-width: 1024px) {
    .call-back {
        padding: 0 0 80px;
    }
}

/*Брейкпоинт 768px*/

@media screen and (max-width: 768px) {
    .call-back {
        padding: 0 0 70px;
    }
}