.container {
    max-width: 1920px; 
    margin: 0 auto;
    padding: 23px 369px 23px 371px;
    display: flex;
    justify-content: space-between;
}

/*Брейкпоинт 1440px*/

@media screen and (max-width: 1440px) {
    .container {
        padding: 23px 129px 23px 131px;
    }
}

/*Брейкпоинт 1024px*/

@media screen and (max-width: 1024px) {
    .container {
        padding: 20px 42px 20px 41px;
    }
}

/*Брейкпоинт 768px*/

@media screen and (max-width: 768px) {
    .container {
        padding: 15px 24px;
    }
}

/*Брейкпоинт 600px*/

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}