.gallery {
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__image {
        width: calc((100% - 24px)/2);
        max-width: 576px;
        
        &:not(:nth-of-type(2n)) { 
            margin-right: 24px;
        }
        
        &:not(:nth-of-type(n+3)) {
            margin-bottom: 24px;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}

/*Брейкпоинт 1024px*/

@media screen and (max-width: 1024px) {
    .gallery {
        &__image {
            width: calc((100% - 18px)/2);
            max-width: 461px;

            &:not(:nth-of-type(2n)) { 
                margin-right: 18px;
            }
            
            &:not(:nth-of-type(n+3)) {
                margin-bottom: 18px;
            }
        }
    }
}

/*Брейкпоинт 768px*/

@media screen and (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
        max-width: 720px;

        &__image {
            width: 100%;

            &:not(:nth-of-type(2n)) { 
                margin-right: 0;
            }
                      
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}