.taxes {
    display: flex;
    justify-content: center;
}

/*Брейкпоинт 768px*/

@media screen and (max-width: 768px) {
    .taxes {
        flex-direction: column;
        align-items: center;
    }
}